html {
	height: 100%;
}

body {
	font-family: "FiraSans-Regular", sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: normal;
	color: #414141;
	height: 100%;
	background-color: #f6f6f6;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-family: "FiraSans-Medium", sans-serif;
	font-size: 2.1875em;
}

h3 {
	font-size: 1.3125em;
	line-height: 1.3;

}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper::after {
	content: "";
	height: 50px;
	display: block;
}

.container {
	width: 940px;
	margin: auto;
}