@font-face {
	font-family: "FiraSans-Bold";
	src: url("../../fonts/FiraSans-Bold/FiraSans-Bold.eot");
	src: url("../../fonts/FiraSans-Bold/FiraSans-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/FiraSans-Bold/firasans-bold.woff") format("woff"),
			 url("../../fonts/FiraSans-Bold/FiraSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FiraSans-Light";
	src: url("../../fonts/FiraSans-Light/FiraSans-Light.eot");
	src: url("../../fonts/FiraSans-Light/FiraSans-Light.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/FiraSans-Light/firasans-light.woff") format("woff"),
			 url("../../fonts/FiraSans-Light/FiraSans-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FiraSans-Medium";
	src: url("../../fonts/FiraSans-Medium/FiraSans-Medium.eot");
	src: url("../../fonts/FiraSans-Medium/FiraSans-Medium.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/FiraSans-Medium/firasans-medium.woff") format("woff"),
			 url("../../fonts/FiraSans-Medium/FiraSans-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FiraSans-Regular";
	src: url("../../fonts/FiraSans-Regular/FiraSans-Regular.eot");
	src: url("../../fonts/FiraSans-Regular/FiraSans-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/FiraSans-Regular/firasans-regular.woff") format("woff"),
			 url("../../fonts/FiraSans-Regular/FiraSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansSemiBold";
	src: url("../../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
	src: url("../../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
			 url("../../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansBold";
	src: url("../../fonts/OpenSansBold/OpenSansBold.eot");
	src: url("../../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
			 url("../../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}