.main-page {
	height: 100vh;
	text-align: center;
	background: url('../img/bg/mainbg.png');
	padding-top: 35vh;
}

.author__img {
	width: 140px;
	height: 140px;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid #d7d7d7;
	margin-top: -71px;
}

.author {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	display: inline-block;
	min-width: 300px;
}

.author__title {
	font-family: "OpenSansSemiBold", sans-serif;
	margin: 5px 0 15px;
}

.author__btn {
	background-color: $blue;
	border-radius: 0 0 10px 10px;
	padding: 20px 70px
}