.main-page {
	height: 100vh;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.main-page::before {
	content: "";
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.main-page::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #103b46;
	opacity: .75;
}

.ibg-bg {
  position: absolute;
	top: 0;
}

.author {
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 5;
	animation: flipInY 1s .3s backwards;
	backface-visibility: visible;
}

.author__img {
	width: 140px;
	height: 140px;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;
}

.author__title {
	font-family: "OpenSansSemiBold", sans-serif;
	margin: 0px auto 20px;
	font-size: 2.5em;
	line-height: 1.3;
	padding: 10px 35px;
	color: #fff;
	background-color: rgba(#000,.1);
	border: 8px solid $blue;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.author__subtitle {
	text-transform: uppercase;
	color: #fafafa;
	font-size: 1em;
	letter-spacing: 5px;
	margin-bottom: 30px;
}
