.career__pic {
	width: 45%;
	float: left;
}

.career__img {
	margin-left: 20px;
}

.career__path {
	width: 55%;
	float: right;
}

.career__item {
	position: relative;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	padding: 20px;
	color: #5a5a5a;
	max-width: 380px;
	margin-bottom: 20px;
	margin-left: 20px;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.career__item:hover {
	background-color: #33c1e3;
	color: #fff;
}

.career__item:hover .career__desc {
	color: #fff;
}

.career__item:hover .career__year {
	font-family: FiraSans-Bold, sans-serif;
	font-size: 1.125em;
	color: #33c1e3;
	top: calc(50% - 13px);
	left: -75px;
}

.career__item:hover::before {
	border: 5px solid #94e0f2;
}

.career__item::before {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #33c1e3;
	border: 5px solid #f6f6f6;
	position: absolute;
	border-radius: 50%;
	top: calc(50% - 12px);
	left: -30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.career__item::after {
	content: "";
	width: 1px;
	height: 140px;
	background-color: #ddd;
	position: absolute;
	top: 55%;
	left: -21px;
}

.career__item:last-child::after {
	display: none;
}

.career__desc {
	font-family: "FiraSans-Light", sans-serif;
	color: #727272;
	font-size: 1.125em;
}

.career__post {
	margin: 3px 0 0;
}

.career__time {
	margin-top: 3px;
	display: block;
}

.career__year {
	font-family: "FiraSans-Light", sans-serif;
	font-size: 0.875em;
	color: #727272;
	position: absolute;
	top: calc(50% - 10px);
	left: -65px;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

