.footer {
  background-color: #414141;
  height: 30px;
  padding: 10px 0;
  margin-top: -50px;
  position: relative;
}

.copyright__text {
	font-family: "FiraSans-Light", sans-serif;
	font-size: 0.875em;
	line-height: 1.5;
	color: #9c9c9c;
	padding-top: 5px;
}

.copyright {
	float: left;
	width: 50%;
}

.social {
	float: right;
	width: 50%;
	text-align: right;
}

.social__item {
	overflow: hidden;
	display: inline-block;
	margin-left: 5px;
}

.social__link {
	display: block;
	text-indent: 50px;
	width: 30px;
	height: 30px;
	opacity: .8;
	@include trs;

	&:hover {
		opacity: 1;
	}
}

.social__link-vk {
	background: url('../img/icons/vk.svg') no-repeat;
}

.social__link-github {
	background: url('../img/icons/github.svg') no-repeat;
}


