.footer {
  background-color: #414141;
  height: 50px;
  padding: 10px 0;
  margin-top: -50px;
  position: relative;
  min-width: 960px;
}

.copyright__text {
	font-family: "FiraSans-Light", sans-serif;
	font-size: 0.875em;
	color: #9c9c9c;
	padding-top: 7px;
}

.copyright {
	float: left;
	width: 50%;
}

.social {
	float: right;
	width: 50%;
}

.social__list {text-align: right;}

.social__item {
	background: url('../img/icons/social-sprite.png') no-repeat;
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	margin-left: 3px;
}

.social__link {
	display: block;
	text-indent: 50px;
}

.social__item-fb {
	background-position: 0 -150px;
	&:hover {
		background-position: 0 -120px;
	}
}

.social__item-tw {
	background-position: 0 -90px;
	&:hover {
		background-position: 0 -60px;
	}
}

.social__item-vk {
	background-position: 0 -30px;
	&:hover {
		background-position: 0 0;
	}
}


