.portfolio__item {
	float: left;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.portfolio__link {
	display: block;
}

.portfolio__item:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	transform: translateY(-4px);
}

.portfolio__item:hover h3 {
	color: #e85f61;
}

.portfolio__text {
	max-width: 220px;
	padding-left: 20px;
	padding-right: 15px;
}

.portfolio__text h3 {
	color: #33c1e3;
	font-size: 1.3125em;
	margin-top: 10px;
	margin-bottom: 0;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.portfolio__text p {
	font-family: "FiraSans-Light", sans-serif;
	font-size: 0.875em;
	margin-top: 4px;
	color: #414141;
}

.portfolio__text span {
	font-family: "OpenSansBold", sans-serif;
	font-size: 0.875em;
	color: #aeaeae;
}

.portfolio__text .fa {
	font-size: 18px;
	margin-right: 2px;
}