.portfolio__item {
	width: 215px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	margin-left: 20px;
	margin-bottom: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	@include trs();
}

.portfolio__item:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-4px);
}

.portfolio__link {
	display: block;
	padding-bottom: 15px;
}

.portfolio__pic {
	background-position: 50% 0;
	background-size: cover;
	height: 175px;
}

.portfolio__item:hover .portfolio__title {color: $red;}

.portfolio__text {
	max-width: 220px;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

.portfolio__title {
	color: $blue;
	font-size: 1.3125em;
	margin-bottom: 0;
	@include trs();
}

.portfolio__desc {
	font-family: "FiraSans-Light", sans-serif;
	font-size: 0.875em;
	margin-bottom: 10px;
	color: #414141;
}

.portfolio__type {
	font-family: "OpenSansBold", sans-serif;
	font-size: 0.875em;
	color: #aeaeae;
}

.portfolio__type .fa {
	font-size: 18px;
	margin-right: 2px;
}